<% cart.each do |i| %>
    <%= i %>
    <% end %>
<form method ='post' action ="/">
<p>Product:<input type="text" name="product" id="product" required></p>
  <input type='submit' value='add to cart'>
</form>