<ul>
<%= cart.each do |product| %>
    <li><%= product %></li>
<% end %>
</ul>
<%= form_tag({controller: 'products', action: 'add', method: 'post'}) do%>
<lable>Enter Item</label><br>
<input type='text' id='item' name='product'>
<input type='submit' value='add to cart'>
<% end %>